<div>
    <h1>あなたの貸出状況</h1>
</div>

<div>
  <%= form_with(model: @user, url: user_path(@user), method: 'get') do |form| %>
    <%= form.label :type, I18n.t('views.users.status') %>

    <%= form.submit I18n.t('views.corp.items.index.form.submit'), class: 'btn btn-primary', name: nil %>
  <% end %>
</div>

<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><%= I18n.t('activerecord.attributes.item_basic_info.item_type') %></th>
        <th scope="col"><%= I18n.t('activerecord.attributes.item_basic_info.name') %></th>
        <th scope="col"><%= I18n.t('activerecord.attributes.lent_history.tag') %></th>
        <th scope="col"><%= I18n.t('activerecord.attributes.lent_history.lent_at') %></th>
        <th scope="col"><%= I18n.t('activerecord.attributes.lent_history.period') %></th>
        <th scope="col"><%= I18n.t('activerecord.attributes.lent_history.returned_at') %></th>
        <th scope="col"><%= I18n.t('views.users.extension') %></th>
        <th scope="col"><%= I18n.t('views.users.return') %></th>
      </tr>
    </thead>
    <% @lent_histories.each do |current| %>
      <tr>
        <td><%= current.item_basic_info.item_type.name %></td>
        <td><%= current.item_basic_info.name %></td>
        <td><%= current.tag %></td>
        <td><%= current.lent_at.strftime("%F") %></td>
        <td><%= current.period.strftime("%F") %></td>
        <td><%= current.returned_at.present? ? current.returned_at.strftime("%F") : '' %></td>
        <% if !current.returned_at and current.item_basic_info.is_extendable %>
        <td><%= button_to I18n.t('views.users.button-extension'), edit_lending_path(current), method: :get %></td>
        <% end %>
        <% if !current.returned_at %>
        <td><%= button_to I18n.t('views.users.button-return'), lending_path(current), params: {returned_at: Time.current}, method: :patch %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <%= paginate @lent_histories %>
</div>
