<div>
    <h1>物品一覧</h1>
</div>

<div>
  <%= form_with(url: '/items', method: 'get') do |form| %>
    <%= form.label :s, I18n.t('views.corp.items.index.form.s-label') %>
    <%= form.text_field :s, value: params[:s] %>
    <%= form.label :type, I18n.t('views.corp.items.index.form.type-label') %>
    <% types = [%w[--- 0]].concat(ItemType.order(id: :asc).map { |type| [type.name, type.id.to_s] }) %>
    <%= form.select :type, types, selected: types.find { |v| v[1] == params[:type] } || '---' %>
    <%= form.submit I18n.t('views.corp.items.index.form.submit'), class: 'btn btn-primary', name: nil %>
  <% end %>
</div>

<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><%= I18n.t('activerecord.attributes.item_basic_info.item_type') %></th>
        <th scope="col"><%= I18n.t('activerecord.attributes.item_basic_info.name') %></th>
        <th scope="col"><%= I18n.t('views.items.stocks') %></th>
        <th scope="col"><%= I18n.t('views.items.total_count') %></th>
        <th scope="col"><%= I18n.t('views.items.lent_button') %></th>
      </tr>
    </thead>
    <% @items.each do |current| %>
      <tr>
        <td><%= current.item_type.name %></td>
        <td><%= current.name %></td>
        <% total_count = current.count || current.tags.length %>
        <td><%= total_count - current.lent_histories.in_lent.count %></td>
        <td><%= total_count %></td>
        <td><%= button_to I18n.t('views.items.lent'), { controller: 'lendings', action: 'new' }, { method: :get, params: { item_id: current.id } } %></td>
      </tr>
    <% end %>
  </table>

  <%= paginate @items %>
</div>
