<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>TeamBApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if corporate_page? %>
      <!-- コーポレートユーザー用 -->
    <%= render 'layouts/corp/header' %>

    <div class="container">
      <div class="row flex justify-content-start">
        <div class="col-md-5">
          <% if current_corporate_user %>
            <%= render 'layouts/corp/sidebar' %>
          <% end %>
        </div>
        <div class="col-md-10">
          <%= render 'layouts/corp/flash_messages' %>
          <%= yield %>
        </div>
      </div>
    </div>
    <% else %>
      <!-- 一般ユーザー用 -->
    <%= render 'layouts/user/header' %>

    <div class="container">
      <div class="row flex justify-content-start">
        <div class="col-md-5">
          <% if user = User.find_by(id: session[:user_id]) %>
            <%= render 'layouts/user/sidebar' %>
          <% end %>
        </div>
        <div class="col-md-10">
          <%= yield %>
        </div>
      </div>
    </div>
    <% end %>
  </body>
</html>
